[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "nerif"
version = "0.2.1"
description = "LLM powered Python"
readme = "README.md"
authors = [{ name = "Chivier Humber"}]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = ["feed", "reader", "tutorial"]
dependencies = [
    "httpx",
    "openai",
    "python-dotenv"
]
requires-python = ">=3.8"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]

[project.optional-dependencies]
dev = ["black", "bumpver", "isort", "pip-tools", "pytest"]

[project.urls]
Homepage = "https://github.com/Chivier/nerif"


